[Unit]
Description=It counts up.

[Service]
User=counter
WorkingDirectory=/home/counter
ExecStart=/lib/systemd/system/counter.service

[Install]
WantedBy=multi-user.target